[submodule "html/admin/tool/odisseagtafsync"]
	path = html/admin/tool/odisseagtafsync
	url = https://github.com/projectestac/moodle-admin_odisseagtafsync.git
[submodule "html/blocks/configurable_reports"]
	path = html/blocks/configurable_reports
	url = https://github.com/jleyva/moodle-block_configurablereports.git
