.bar-side-menu {
  color: [[setting:color3]];
  background-color: [[setting:color2]];
}

.bar-content {
  color: [[setting:color3]];
  background-color: [[setting:color2]];
}

.bar-side-menu .item-avatar h2, .bar-side-menu .item-media h2, .bar-side-menu .item-avatar p, .bar-side-menu .item-media p {
  color: [[setting:color3]];
}

.bar-content .title {
  color: [[setting:color3]];
}

.bar-content .button.button-clear, .bar-content .button:hover{
  color: [[setting:color3]];
}


a, .button-clear.button-clear{
  color: [[setting:color5]];
}

.button {
  border-color: [[setting:color5]];
  color: [[setting:color5]];
}

.button-icon {
  border-color: transparent;
}

.positive, a.positive {
  color: [[setting:color5]];
}