body.format-vv .hidden {
    display: none;
}

body.format-vv .title {
    padding: 0px 0px 0px 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background-image: url([[pix:format_vv|edubook]]);
    background-repeat: no-repeat;
    background-size: 57px;
    background-position: right center;
    background-color: gray;
    font-size: 22px;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 0.025em;
    line-height: 57px;
    margin: 0;
}

body.format-vv .mates title {
    background-color: #055FA8;
}

body.format-vv .lengua .title {
    background-color: #BC0A0A;
}

body.format-vv .naturales .title {
    background-color: #EF7625;
}

body.format-vv .sociales .title {
    background-color: #039403;
}

body.format-vv .topics {
    font-family: 'helvetica', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-left: 0;
    margin-top: 16px;
    margin-right: 0;
}

body.format-vv .topics li {
    list-style: none;
}

body.format-vv h3.sectionname {
    font-size: 18px;
    line-height: 22px;
    color: #000;
    font-weight: 400;
}

body.format-vv div.sectionname {
    text-align: left;
    border-bottom: 1px solid #CCC;
    padding: 15px 0px 15px 15px;
    margin: 0;
    cursor: pointer;
}

/* body.format-vv li.section.hidden div.sectionname {
    opacity: 0.5;
} */

body.format-vv .icon-section {
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

body.format-vv .mates .icon-section {
    background-image: url([[pix:format_vv|icon-apartat-B]]);
}

body.format-vv .lengua .icon-section {
    background-image: url([[pix:format_vv|icon-apartat-R]]);
}

body.format-vv .naturales .icon-section {
    background-image: url([[pix:format_vv|icon-apartat-O]]);
}

body.format-vv .sociales .icon-section {
    background-image: url([[pix:format_vv|icon-apartat-G]]);
}

body.format-vv .icon-arrow {
    float: right;
    width: 11px;
    height: 22px;
    /* background-image: url([[pix:format_vv|arrow-ver]]);
    background-repeat: no-repeat;
    background-position: center; */
    margin-left: 10px;
}

/* body.format-vv .opened .icon-arrow {
   background-image: url([[pix:format_vv|arrow-hor]]);
} */

body.format-vv ul.section {
    counter-reset: subsection;
    padding: 0;
    margin: 0;
    list-style: none;
}

body.format-vv li.section.hidden {
    display: block;
    visibility: visible;
}

body.format-vv li.subsection {
    border-bottom: 1px solid #CCC;
    padding: 0;
    color: #666;
}

body.format-vv h4.subsectionname {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

body.format-vv div.subsectionname {
    text-align: left;
    padding: 15px 0 15px 60px;
    margin: 0;
    cursor: pointer;
}

body.format-vv div.subsectionname > div.no-overflow {
    margin-right: 20px;
}

body.format-vv div.subsectionname div.no-overflow > p:last-child {
    margin-bottom: 0;
}

body.format-vv .subsectionnum {
    box-sizing: content-box;
    float: left;
    padding: 2px 6px;
    min-width: 10px;
    color: #FFF;
    border-radius: 3px;
    margin-right: 15px;
    background-color: gray;
    text-align: center;
}

body.format-vv .mates .subsectionnum {
    background-color: #055FA8;
}

body.format-vv .lengua .subsectionnum {
    background-color: #BC0A0A;
}

body.format-vv .naturales .subsectionnum {
    background-color: #EF7625;
}

body.format-vv .sociales .subsectionnum {
    background-color: #039403;
}

body.format-vv ul.subsection {
    padding: 0;
    margin: 0;
    /* border-top: 1px solid #CCC; */
    margin-bottom: -1px;
    list-style: none;
}

body.format-vv li.activity {
    line-height: 20px;
    padding: 15px 0 15px 60px;
    border-bottom: 1px solid #CCC;
}

body.format-vv a.activitylink,
body.format-vv a.activitylink:hover {
    color: #666;
    text-decoration: none;
}

body.format-vv .img-text a.activitylink:hover span {
    text-decoration: none;
}

body.format-vv li.activity .contentafterlink {
    clear: both;
    margin-top: 15px;
}

body.format-vv .contentafterlink p {
    margin: 0;
}

body.format-vv .topics .autocompletion,
body.format-vv .topics form.togglecompletion {
    float: right;
}

body.format-vv .topics .commands,
body.format-vv .topics .actions {
    float: right;
}

body.format-vv .topics .commands img.icon,
body.format-vv .topics .actions img.iconsmall {
    vertical-align: middle;
    margin: 0 3px;
    padding: 0;
}

body.format-vv .topics .commands a {
    margin-left: 5px;
}

body.format-vv .topics .icon.movetarget {
    width: auto;
}

body.format-vv .topics .activityicon {
    float: left;
    width: 16px;
    height: 16px;
    margin-top: 2px;
    margin-left: 10px;
    margin-right: 19px;
}

body.format-vv .topics .activityicon.iconlarge {
    width: 24px;
    height: 24px;
    margin-top: -2px;
    margin-left: 6px;
    margin-right: 15px;
}

body.format-vv .icon-activity,
body.format-vv .icon-book,
body.format-vv .icon-document,
body.format-vv .icon-video,
body.format-vv .icon-mauthor,
body.format-vv .icon-mauthorgym,
body.format-vv .icon-mauthorcloudlibrary,
body.format-vv .icon-link {
    float: left;
    width: 35px;
    height: 30px;
    margin-top: -8px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center;
}

body.format-vv .mates .icon-activity {
    background-image: url([[pix:format_vv|icon-activitat-B]]);
}

body.format-vv .lengua .icon-activity {
    background-image: url([[pix:format_vv|icon-activitat-R]]);
}

body.format-vv .naturales .icon-activity {
    background-image: url([[pix:format_vv|icon-activitat-O]]);
}

body.format-vv .sociales .icon-activity {
    background-image: url([[pix:format_vv|icon-activitat-G]]);
}

body.format-vv .mates .icon-book {
    background-image: url([[pix:format_vv|icon-resum-B]]);
}

body.format-vv .lengua .icon-book {
    background-image: url([[pix:format_vv|icon-resum-R]]);
}

body.format-vv .naturales .icon-book {
    background-image: url([[pix:format_vv|icon-resum-O]]);
}

body.format-vv .sociales .icon-book {
    background-image: url([[pix:format_vv|icon-resum-G]]);
}

body.format-vv .mates .icon-document {
    background-image: url([[pix:format_vv|icon-document-B]]);
}

body.format-vv .lengua .icon-document {
    background-image: url([[pix:format_vv|icon-document-R]]);
}

body.format-vv .naturales .icon-document {
    background-image: url([[pix:format_vv|icon-document-O]]);
}

body.format-vv .sociales .icon-document {
    background-image: url([[pix:format_vv|icon-document-G]]);
}

body.format-vv .mates .icon-link {
    background-image: url([[pix:format_vv|icon-link-B]]);
}

body.format-vv .lengua .icon-link {
    background-image: url([[pix:format_vv|icon-link-R]]);
}

body.format-vv .naturales .icon-link {
    background-image: url([[pix:format_vv|icon-link-O]]);
}

body.format-vv .sociales .icon-link {
    background-image: url([[pix:format_vv|icon-link-G]]);
}
body.format-vv .mates .icon-video {
    background-image: url([[pix:format_vv|icon-video-B]]);
}

body.format-vv .lengua .icon-video {
    background-image: url([[pix:format_vv|icon-video-R]]);
}

body.format-vv .naturales .icon-video {
    background-image: url([[pix:format_vv|icon-video-O]]);
}

body.format-vv .sociales .icon-video {
    background-image: url([[pix:format_vv|icon-video-G]]);
}

body.format-vv .mates .icon-mauthor {
    background-image: url([[pix:format_vv|icon-mauthor-B]]);
}

body.format-vv .lengua .icon-mauthor {
    background-image: url([[pix:format_vv|icon-mauthor-R]]);
}

body.format-vv .naturales .icon-mauthor {
    background-image: url([[pix:format_vv|icon-mauthor-O]]);
}

body.format-vv .sociales .icon-mauthor {
    background-image: url([[pix:format_vv|icon-mauthor-G]]);
}

body.format-vv .mates .icon-mauthorgym {
    background-image: url([[pix:format_vv|icon-mauthorgym-B]]);
}

body.format-vv .lengua .icon-mauthorgym {
    background-image: url([[pix:format_vv|icon-mauthorgym-R]]);
}

body.format-vv .naturales .icon-mauthorgym {
    background-image: url([[pix:format_vv|icon-mauthorgym-O]]);
}

body.format-vv .sociales .icon-mauthorgym {
    background-image: url([[pix:format_vv|icon-mauthorgym-G]]);
}

body.format-vv .mates .icon-mauthorcloudlibrary {
    background-image: url([[pix:format_vv|icon-mauthorcloudlibrary-B]]);
}

body.format-vv .lengua .icon-mauthorcloudlibrary {
    background-image: url([[pix:format_vv|icon-mauthorcloudlibrary-R]]);
}

body.format-vv .naturales .icon-mauthorcloudlibrary {
    background-image: url([[pix:format_vv|icon-mauthorcloudlibrary-O]]);
}

body.format-vv .sociales .icon-mauthorcloudlibrary {
    background-image: url([[pix:format_vv|icon-mauthorcloudlibrary-G]]);
}
body.format-vv div.sectionname.void{
    cursor: default;
}

body.format-vv .activity-item.activityinline {
    padding: 0;
}

body.format-vv .course-section {
    border: none;
}

body.format-vv .section .activity.indented + .indented .activity-item {
    border: none;
}

body.format-vv ul.vv {
    list-style: none;
}

body.format-vv .activity-item:not(.activityinline) {
	padding: 0;
}

body.format-vv .vv ul ul {
    list-style: none;
}