div.wirisanswerfielddecoration.wirisembeddeddecoration.wirisincorrect,
div.wirisanswerfielddecoration.wiriseditordecoration.wirisincorrect div.wiriseditorwrapper {
    background-image: url([[pix:core|i/grade_incorrect]]) !important;
}

div.wirisanswerfielddecoration.wirisembeddeddecoration.wiriscorrect,
div.wirisanswerfielddecoration.wiriseditordecoration.wiriscorrect div.wiriseditorwrapper {
    background-image: url([[pix:core|i/grade_correct]]) !important;
}

div.wirisanswerfielddecoration.wirisembeddeddecoration.wirispartiallycorrect,
div.wirisanswerfielddecoration.wiriseditordecoration.wirispartiallycorrect div.wiriseditorwrapper {
    background-image: url([[pix:core|i/grade_partiallycorrect]]) !important;
}
